@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
* {
    box-sizing: border-box;
  }
body {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
}

#services {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.service {
  width: 50%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service article {
  background-color: #F1EFEF;
  align-items: center;
  width: 80%;
  max-width: 30rem;
  border-radius: 0.25rem;
}
.service article p {
  padding: 0rem 0.75rem 0rem 0.75rem;
  color: #141414;
}

.service-header {
  padding: 0.25rem 0.75rem 0rem 0.75rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.service-header img {
  width: 3rem;
}

.service-header h3 {
  color: #092635;
}

.service-carousel {
  width: 100%;
  height: 10rem;
  position: relative;
  overflow: hidden;
}

[class^="service-carousel-content"] {
  width: 100%;
  height: 10rem;
  position: absolute;
  transition: all 0.5s;
}
[class^="service-carousel-content"] img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

.service-footer {
  width: 100%;
  
  padding-inline: 1rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.service-footer p {
  flex: auto;
  text-decoration: none;
  font-weight: 300;
}
.service-footer a {
  text-decoration: none;
}

.service-footer a:hover{
  font-weight: 500;
}

.service-footer a:active{
  color: #000;
}

.service-footer img {
  width: 2rem;
}
.btn {
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.4rem;
  border: none;
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
  background-color: rgba(255, 255, 255,0.5);
  font-size: 1.2rem;
}

.btn:active {
  transform: scale(1.1);
}

.btn-prev {
  top: 45%;
  left: 2%;
}

.btn-next {
  top: 45%;
  right: 2%;
}


@media only screen and (max-width: 600px) {
  .service {
    width: 100%;
  }
}